#swing-door-animation-container {
    width: 90vmin;
    height: 90vmin;
    margin: 2vmin auto;
    background-color: rgb(10, 219, 219);
    border-radius: 10%;
}

#empty-space{
width: 100%;
height: 50%;
}

#title {
    text-align: center;
    font-size: 8vmin;
    color: rgb(33, 33, 70);
}

#wall-left-1 {
    float: left;
    width: 9.5%;
    height: 15%;
    background-color: rgb(161, 102, 62);
    border-top-right-radius: 5%;
}

#part-3 {
    float: left;
    width: 7.5%;
    height: 15%;
}

#set-space-back-base-left{
    width: 30%;
    height: 10%;
    margin-left: 35%;
}

#back-base-left {
    width: 30%;
    height: 30%;
    margin-left: 35%;
    background-color: rgb(66, 64, 68);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

#wall-left-2 {
    width: 100%;
    height: 60%;
    background-color: rgb(161, 102, 62);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

#hinge-container-left{
    float: left;
    width: 3%;
    height: 15%;
}

#set-space-hinge-left{
    width: 100%;
    height: 50%;
}
#hinge-left {
    float: left;
    width: 100%;
    height: 20%;
    border-radius: 50%;
    background-color: rgb(66, 64, 68);
}

#hinge-left-circle {
    width: 30%;
    height: 30%;
    background-color: rgb(66, 64, 68);
    border-radius: 50%;
    border: solid rgb(132, 160, 161);
    margin: 17.5% auto;
}

#part-5 {
    float: left;
    width: 60%;
    height: 15%;
}

#set-space-doors{
    width: 100%;
    height: 50%;
}

@keyframes move-door-left {
    
    78% {
        transform: rotateZ(-93deg);
    }
    100%{
        transform: rotateZ(-93deg);
    }
  }

  #door-left-container {
    float: left;
    width: 106.4% ;
    height: 20%;
    position: relative;
    left: -55.8%;

    animation-name: move-door-left;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: alternate;

  }

  #set-space-door-left {
    float: left;
    width: 52.5% ;
    height: 100%;
  }

#door-left {
    float: left;
    width: 44.3% ;
    height: 100%;
    background-color: rgb(36, 44, 73);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

}

#edge-left {
    float: left;
    width: 3.2% ;
    height: 60%;
    background-color: rgb(36, 44, 73);
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

#front-base-left{
    width: 50%;
    height: 150%;
    position: relative;
    top: -150%;
    left: -300%;
    background-color: rgb(66, 64, 68);
}


@keyframes move-door-right {
    10% {
        transform: rotateZ(0deg);
    }
    88.78% {
        transform: rotateZ(93deg);
    }
    100% {
        transform: rotateZ(93deg);
    }
  }

  #door-right-container {
    float: left;
    width: 109.3% ;
    height: 20%;
    position: relative;
    left: 48%;
    top: -20%;

    animation-name: move-door-right;
    animation-duration: 4.95s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }

  #set-space-door-right {
    float: left;
    width: 52.4% ;
    height: 100%;
  }

#door-right {
    float: left;
    width: 44.4% ;
    height: 100%;
    background-color: rgb(36, 44, 73);
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

#edge-right {
    float: left;
    width: 3.2% ;
    height: 30%;
    background-color: rgb(36, 44, 73);
    margin-top: 3.15%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}

#front-base-right{
    width: 50%;
    height: 350%;
    position: relative;
    top: -580%;
    left: 370%;
    background-color: rgb(66, 64, 68);
}

#hinge-container-right{
    float: left;
    width: 3%;
    height: 15%;
}

#set-space-hinge-right{
    width: 100%;
    height: 50%;
}
#hinge-right {
    float: left;
    width: 100%;
    height: 20%;
    border-radius: 50%;
    background-color: rgb(66, 64, 68);
}

#hinge-right-circle {
    width: 30%;
    height: 30%;
    background-color: rgb(66, 64, 68);
    border-radius: 50%;
    border: solid rgb(132, 160, 161);
    margin: 17.5% auto;
}

#part-7 {
    float: left;
    width: 7.5%;
    height: 15%;
}

#set-space-back-base-right{
    width: 30%;
    height: 10%;
    margin-left: 35%;
}

#back-base-right {
    width: 30%;
    height: 30%;
    margin-left: 35%;
    background-color: rgb(66, 64, 68);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

#wall-right-2 {
    width: 100%;
    height: 60%;
    background-color: rgb(161, 102, 62);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

#wall-right-1 {
    float: left;
    width: 9.5%;
    height: 15%;
    background-color: rgb(161, 102, 62);
    border-top-left-radius: 5%;
}

@keyframes move-motor1 {
   
    80% {
        transform: rotateZ(-90deg);
        transform-origin: 15% 50%;
    }
    100% {
        transform: rotateZ(-90deg);
        transform-origin: 15% 50%;
    }
  }


#motor1 {
    position: relative;
    left: -25%;
    width: 500%;
    height: 240%;
    background-color:  rgb(123, 139, 137);
    transform: rotateZ(8deg);
    z-index: 2;

    animation-name: move-motor1;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    border-radius: 5%;
}

#motor1-part2-set-space {
    width: 200%;
    height: 20%;
}

@keyframes move-motor1-part2 {
    
    78% {
        width: 78%;
    }
    100% {
        width: 78%;
    }
  }

#motor1-part2 {
    width: 190%;
    height: 60%;
    background-color: rgb(141, 145, 150);
    position: relative;
    left: 100%;
    z-index: 3;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;

    animation-name: move-motor1-part2;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}


@keyframes move-motor2 {
   10% {
    transform: rotateZ(-8deg);
   }
    90.78% {
        transform: rotateZ(90deg);
        transform-origin: 85% 50%;
    }
    100% {
        transform: rotateZ(90deg);
        transform-origin: 85% 50%;
    }
  }



#motor2 {
    float: right;
    position: relative;
    right: -25%;
    width: 500%;
    height: 240%;
    background-color: rgb(123, 139, 137);
    transform: rotateZ(-8deg);
    border-radius: 5%;

    animation-name: move-motor2;
    animation-duration: 4.95s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

#motor2-part2-set-space {
    width: 200%;
    height: 20%;
}

@keyframes move-motor2-part2 {
    10% {
        width: 190%;
        left: -190%;
    }
   88.78% {
        width: 78%;
        left: -78%;
    }
    100% {
        width: 78%;
        left: -78%;
    }
  }

#motor2-part2 {
    width: 190%;
    height: 60%;
    background-color: rgb(141, 145, 150);
    position: relative;
    left: -190%;
    z-index: 3;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;

    animation-name: move-motor2-part2;
    animation-duration: 4.9s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

#bottom-part{
    position: absolute;
    top: 65vmin;
    margin-left: 3vmin;
    font-size: 3.5vmin;
}

.step{
    font-weight: 700;
    color: rgb(33, 33, 70);
}