#swing-door-animation-container {
    width: 90vmin;
    height: 90vmin;
    margin: 2vmin auto;
    background-color: aqua;
}

#empty-space{
width: 100%;
height: 70%;
}

#wall-left-1 {
    float: left;
    width: 9.5%;
    height: 15%;
    background-color: brown;
}

#part-3 {
    float: left;
    width: 7.5%;
    height: 15%;
}

#back-base-left {
    width: 30%;
    height: 40%;
    margin-left: 35%;
    background-color: rgb(26, 7, 7);
}

#wall-left-2 {
    width: 100%;
    height: 60%;
    background-color: brown;
}

#hinge-container-left{
    float: left;
    width: 3%;
    height: 15%;
}

#set-space-hinge-left{
    width: 100%;
    height: 50%;
}
#hinge-left {
    float: left;
    width: 100%;
    height: 20%;
    border-radius: 50%;
    background-color: black;
}

#part-5 {
    float: left;
    width: 60%;
    height: 15%;
}

#set-space-doors{
    width: 100%;
    height: 50%;
}

@keyframes move-door-left {
    from {}
    to {
        transform: rotateZ(-90deg);
    }
  }

  #door-left-container {
    float: left;
    width: 106.4% ;
    height: 20%;
    position: relative;
    left: -55.8%;

    animation-name: move-door-left;
    animation-duration: 4s;
  }

  #set-space-door-left {
    float: left;
    width: 52.5% ;
    height: 100%;
  }

#door-left {
    float: left;
    width: 44.3% ;
    height: 100%;
    background-color: blueviolet;
}

#edge-left {
    float: left;
    width: 3.2% ;
    height: 60%;
    background-color: blueviolet;
}


@keyframes move-door-right {
    from {}
    to {
        transform: rotateZ(90deg);
    }
  }

  #door-right-container {
    float: left;
    width: 109.3% ;
    height: 20%;
    position: relative;
    left: 48%;
    top: -20%;

    animation-name: move-door-right;
    animation-duration: 4s;
  }

  #set-space-door-right {
    float: left;
    width: 52.4% ;
    height: 100%;
  }

#door-right {
    float: left;
    width: 44.4% ;
    height: 100%;
    background-color: blueviolet;
}

#edge-right {
    float: left;
    width: 3.2% ;
    height: 30%;
    background-color: blueviolet;
    margin-top: 3.15%;
}
/*
#door-right {
    float: left;
    width: 48% ;
    height: 20%;
    background-color: blueviolet;

    animation-name: move-door-right;
    animation-duration: 2s;
}



#edge-left {
    width: 85% ;
    height: 60%;
    background-color: blueviolet;
    transform: rotate(-90deg);
    transform-origin: -1485.294% 83.33%;
}

#set-space-edges{
    width: 100%;
    height: 10%;
}

#edge-right {
    float: right;
    width: 85% ;
    height: 30%;
    background-color: blueviolet;
    transform: rotateZ(90deg);
    transform-origin: 1585.294% -66.67%;
}

*/

#hinge-container-right{
    float: left;
    width: 3%;
    height: 15%;
}

#set-space-hinge-right{
    width: 100%;
    height: 50%;
}
#hinge-right {
    float: left;
    width: 100%;
    height: 20%;
    border-radius: 50%;
    background-color: black;
}

#part-7 {
    float: left;
    width: 7.5%;
    height: 15%;
}

#back-base-right {
    width: 30%;
    height: 40%;
    margin-left: 35%;
    background-color: rgb(26, 7, 7);
}

#wall-right-2 {
    width: 100%;
    height: 60%;
    background-color: brown;
}

#wall-right-1 {
    float: left;
    width: 9.5%;
    height: 15%;
    background-color: brown;
}